@charset "UTF-8";
html, body, #qwe {
  padding: 0;
  height: 100%; }

body {
  font-family: MicrosoftYaHei;
  font-size: 30px; }

h1, h2, h3, h4, h5, h6, ol,
html, body, #qwe {
  margin: 0; }

p {
  margin: 10px 0; }

img {
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

.panel {
  background-color: #fff;
  position: relative;
  height: 100%;
  margin: 0;
  border: none;
  box-shadow: none;
  transform: translate3d(0, 0, 0);
  overflow: hidden; }
  .panel .ripple {
    display: block;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    background: #5454DB;
    transition: none; }
  .panel .ripple-animate {
    opacity: 0 !important;
    transform: scale(2);
    transition: opacity 2s, transform 2s;
    transition-timing-function: linear; }
  .panel .control {
    position: fixed;
    right: 5vw;
    bottom: 5vh; }
    .panel .control > svg {
      cursor: pointer; }
    .panel .control > svg path {
      transition: stroke .2s; }
    .panel .control > svg:hover path {
      stroke: rgba(0, 0, 255, 0.75); }
    .panel .control > svg:first-child {
      transform: rotate(-180deg);
      margin-right: 20px; }
  .panel .content {
    height: 100%;
    width: 100%; }
    .panel .content h1 {
      text-align: center;
      user-select: none; }
    .panel .content > div {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .panel .content > div .sections.no-margin {
        margin-top: 0; }
      .panel .content > div .sections {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: 100px;
        overflow: auto; }
        .panel .content > div .sections section {
          display: flex;
          justify-content: center;
          flex-direction: column; }
        .panel .content > div .sections section.next {
          visibility: hidden;
          opacity: 0;
          transition: display .3s, visibility .3s, opacity .3s;
          display: none; }
        .panel .content > div .sections section.b100 {
          flex-basis: 100%;
          align-items: center; }
        .panel .content > div .sections section.next.show {
          visibility: visible;
          opacity: 1;
          display: flex; }
        .panel .content > div .sections section.column {
          flex: 1;
          height: auto; }
    .panel .content .page .drag-item {
      background-color: rgba(0, 0, 255, 0.3);
      width: 100%;
      padding: 10px;
      color: #fff;
      margin: 5px 0;
      border-radius: 2px;
      border-top: 5px outset transparent;
      user-select: none;
      position: relative;
      transition: all .2s; }
    .panel .content .page .drag-item.over {
      background-color: rgba(0, 0, 255, 0.6); }
    .panel .content .page .drag-item.show-top-line {
      border-top-color: #000; }
    .panel .content .page .drag-item.show-top-line:before,
    .panel .content .page .drag-item.over:before {
      content: 'over';
      position: absolute;
      text-align: center;
      height: 1px;
      left: 0;
      width: 100%;
      box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.7);
      top: 33%;
      transition: box-shadow .2s; }
    .panel .content .page .drag-item.show-top-line:before {
      content: 'top';
      text-align: center;
      box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.7); }
    .panel .content pre {
      background-color: #eee;
      padding: 20px;
      color: #222;
      border-radius: 2px; }
    .panel .content .dots {
      text-overflow: ellipsis;
      text-overflow: "…"; }

.tooltip {
  position: relative; }

.tooltip:hover:before,
.tooltip:hover:after {
  animation-name: tooltip-appear;
  animation-duration: .1s;
  animation-fill-mode: forwards; }

.tooltip:hover:before {
  content: '';
  position: absolute;
  transform: translate(-50%);
  bottom: -3px;
  left: 50%;
  border: 5px solid transparent;
  border-bottom-color: rgba(27, 31, 35, 0.8);
  border-bottom-style: solid;
  border-bottom-width: 5px;
  opacity: 0; }

.tooltip:hover:after {
  content: attr(data-label);
  position: absolute;
  z-index: 1000000;
  font-size: 12px;
  padding: 5px 8px;
  color: #fff;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  background: rgba(27, 31, 35, 0.8);
  border-radius: 3px;
  transform: translate(-50%);
  bottom: -26px;
  left: 50%;
  opacity: 0; }

@keyframes tooltip-appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.hover-shake:hover {
  cursor: -webkit-grabbing;
  user-select: none; }

.hover-shake {
  transition: transform .2s;
  transform: rotateX(0); }

.knock-down-overlay {
  perspective: 2000px; }

.knock-down {
  transform: rotateX(77deg) scale(0.5) translateZ(30px); }

.shake-crazy {
  display: inline-block;
  transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-crazy:hover, .shake-trigger:hover .shake-crazy {
  animation-play-state: running; }

@keyframes shake-crazy {
  10% {
    transform: translate(10px, -1px) rotate(-6deg);
    opacity: 0.33; }
  20% {
    transform: translate(-6px, -19px) rotate(3deg);
    opacity: 0.44; }
  30% {
    transform: translate(4px, 11px) rotate(-5deg);
    opacity: 0.61; }
  40% {
    transform: translate(18px, 18px) rotate(2deg);
    opacity: 0.39; }
  50% {
    transform: translate(0px, -10px) rotate(1deg);
    opacity: 0.86; }
  60% {
    transform: translate(-11px, -4px) rotate(6deg);
    opacity: 0.77; }
  70% {
    transform: translate(5px, -15px) rotate(-2deg);
    opacity: 0.57; }
  80% {
    transform: translate(5px, 12px) rotate(0deg);
    opacity: 0.43; }
  90% {
    transform: translate(8px, 15px) rotate(-9deg);
    opacity: 0.6; }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }
.shake-crazy:hover, .shake-trigger:hover .shake-crazy, .shake-crazy.shake-freeze, .shake-crazy.shake-constant {
  animation-name: shake-crazy;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

/*# sourceMappingURL=main.css.map */
